@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-icons-loading .material-symbols-outlined {
  display: inline-block;
  width: 1em;
  overflow: hidden;
  visibility: hidden;
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-shadow-glow {
  text-shadow: 0 0 20px rgba(201, 168, 76, 0.3);
}

.hero-gradient {
  background: linear-gradient(135deg, #1f1341 0%, #4b3f6f 100%);
}

.label-md {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-label {
  font-size: 0.75rem;
  line-height: 1rem;
}
